@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: montserrat, helvetica neue, helvetica, sans-serif;
}
.background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background: url('waves.png') center/contain no-repeat; 
  z-index: 0; 
}
.homepage-container {
  color: #d9e1e9;
  background: url(bg.png) repeat 0 0;
  animation: bg-scrolling-reverse 3s infinite;
  animation-timing-function: linear;
  height: 100vh;
  width: 100vw;

}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
.homepage-container {
  align-items: center;
  padding-left: 20px;
}

.csilogo {
  margin: 0;
  padding-top: 1.2rem;
  padding-right: 4rem;
  max-width: 1%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index:5;
}
.logo {
  margin: 0;
  padding: 15px;
  max-width: 1%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.about-navigator {
  padding-top: 15px;
  position: absolute;
  max-width: fit-content;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  text-align: center;
}

.about-navigator button{
  font-weight: bolder;
  background: none;
  border: none;
  cursor: pointer;
  color: #7b8085;
  transition: transform 0.35s ease;
}
.about-navigator button a,
.other a {
  color: inherit;
  text-decoration: none;
}
.about-navigator button:hover {
  transform: translateY(-5px);
  color: #d9e1e9;
}
.switch {
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.title{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}
.title .main-title{
  z-index:1;
  font-size: 7vw;
}
.typewriter{
  z-index:1;
}
.typewriter h1{
  font-size: 2.6vw;
}
.buttons-container {
  padding-top: 10px;
  display: flex;
  gap: 20px; 
  flex-direction: column; 

  @media (min-width: 578px) {
    flex-direction: row; 
  }
}
.glow-on-hover {
  font-size:18px;
  width: 220px;
  height: 50px;
  border-color: #939393;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
@media (min-width: 900px) and (max-width: 1100px) {
.glow-on-hover {
  font-size: 16px;
  width: 190px;
   height: 43px;
}
.typewriter h1{
  font-size: 2.8vw;
}
}
@media (max-width: 899px) {
  .glow-on-hover {
    font-size: 12px;
    width: 170px;
    height: 40px;
  }
  .title{
    top:10%;
  }
  .typewriter h1{
    font-size: 3vw;
  }
  .background-container{
    bottom:10%;
  }
}
.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* @media (max-width: 1100px) {
  .title .main-title {
    font-size: 4rem; 
  }

  .typewriter h1 {
    font-size: 1.8rem; 
  }
}
@media (max-width: 750px) {
  .title .main-title {
    font-size: 3rem; 
  }

  .typewriter h1 {
    font-size: 1.4rem; 
  }
} */
.mainimg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.ps {
  z-index: 1;
  position: relative;
  /* top: 35%; */
  bottom: 59%;
  writing-mode: vertical-rl;
  transform: rotate(0deg);
}
.timeline button,
.ps button {
  font-weight: bolder;
  background: none;
  border: none;
  cursor: pointer;
  color: #7b8085;
  transition: transform 0.35s ease;
}
.timeline button a,
.ps button a {
  color: inherit;
  text-decoration: none;
}
.timeline button:hover,
.ps button:hover {
  transform: translateX(-5px);
  color: #d9e1e9;
}

.timeline {
  position: absolute;
  /* top: 50%; */
  bottom: 46%;
  right: 0;
  margin: 10px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.social {
  padding-left: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* .social-icons {
  color: #7b8085;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
} */

.social-icons {
  background: none;
  border: none;
  display: inline-block;
  color: #7b8085;
  transition: 0.3s;
  overflow: hidden;
  cursor: pointer;
  height: 60px;
  font-weight: bold;
}

.social-icons:hover {
  color: #d9e1e9;
}

.label-up {
  display: block;
  margin: 0px 0px;
  height: 100%;
  position: relative;
  top: 0%;
  transition: 0.3s;
}
@media screen and (max-width: 350px) {
  .label-up {
    font-size: 10px;
  }
}
.social-icons:hover .label-up {
  top: -100%;
}

.other {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  transition: transform 0.35s ease;
  font-weight: bold;
}

.other:hover {
  font-weight: bold;
  transform: translateY(5px);
  color: #d9e1e9;
}
.sound {
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.sound button {
  background: none;
  border: none;
  cursor: pointer;
}
