body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: montserrat, helvetica neue, helvetica, sans-serif;
}

.homepage-container {
  /* color: #d9e1e9; */
  color: #7b8085;
  background-image: radial-gradient(
    circle,
    rgba(8, 8, 8, 1) 39%,
    rgba(20, 22, 27, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.homepage-container {
  align-items: center;
  padding-left: 20px;
}

.logo {
  margin: 0;
  padding: 15px;
  max-width: 1%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.about button, 
.contact-us button, 
.problem-statements button, 
.timeline button{
  font-weight: bolder;
  letter-spacing: 2px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.35s ease;
}
.about button a, 
.contact-us button a, 
.problem-statements button a, 
.timeline button a{
  color: #7b8085;
  font-size: 16px;
  text-decoration: none;
}

.problem-statements button:hover, 
.timeline button:hover{
  scale: 1.1;
  transform: translateX(5px);
}
.about button:hover{
  scale: 1.1;
  transform: translateY(5px);
} 
.contact-us button:hover{
  scale: 1.1;
  transform: translateY(-5px);
}


.about {
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.contact-us {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.switch {
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.mainimg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.timeline {
  padding: 0 15px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transition: .5s ease;
}

.problem-statements {
  padding: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(0deg);
  transition: .5s ease;
}


.social {
  padding-left: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* .social-icons {
  color: #7b8085;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
} */

.social-icons {
  background: none;
  border: none;
  display: inline-block;
  color: #7b8085;
  transition: 0.3s;
  overflow: hidden;
  cursor: pointer;
  height: 60px;
  font-weight: bold;
}
.social-icons:hover {
  color: #d9e1e9;
}

.label-up {
  display: block;
  margin: 0px 0px;
  height: 100%;
  position: relative;
  top: 0%;
  transition: 0.3s;
}
@media screen and (max-width: 350px) {
  .label-up {
    font-size: 10px;
  }
}
.social-icons:hover .label-up {
  top: -100%;
}

.sound {
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.sound button {
  background: none;
  border: none;
  cursor: pointer;
}