@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: montserrat, helvetica neue, helvetica, sans-serif;
}

.homepage-container {
  color: #d9e1e9;
  background: url(bg.png) repeat 0 0;
  animation: bg-scrolling-reverse 3s infinite;
  animation-timing-function: linear;
  height: 100vh;
  width: 100vw;

}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
.homepage-container {
  align-items: center;
  padding-left: 20px;
}

.csilogo {
  margin: 0;
  padding-top: 1.2rem;
  padding-right: 4rem;
  max-width: 1%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index:5;
}
.logo {
  margin: 0;
  padding: 15px;
  max-width: 1%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.about-navigator {
  padding-top: 15px;
  position: absolute;
  max-width: fit-content;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  text-align: center;
}

.about-navigator button{
  font-weight: bolder;
  letter-spacing: 2px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.35s ease;
}
.about button a, 
.contact-us button a, 
.problem-statements button a, 
.timeline button a{
  color: #7b8085;
  transition: transform 0.35s ease;
}
.about-navigator button a,
.other a {
  color: inherit;
  text-decoration: none;
}

.problem-statements button:hover, 
.timeline button:hover{
  scale: 1.1;
  transform: translateX(5px);
}
.about button:hover{
  scale: 1.1;
  transform: translateY(5px);
} 
.contact-us button:hover{
  scale: 1.1;
  transform: translateY(-5px);
}


.about {
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.contact-us {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.switch {
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
}
.title{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}
.title .main-title{
  font-size: 7vw;
}
.typewriter h1{
  font-size: 2.6vw;
}
/* @media (max-width: 1100px) {
  .title .main-title {
    font-size: 4rem; 
  }

  .typewriter h1 {
    font-size: 1.8rem; 
  }
}
@media (max-width: 750px) {
  .title .main-title {
    font-size: 3rem; 
  }

  .typewriter h1 {
    font-size: 1.4rem; 
  }
} */
.mainimg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.ps {
  z-index: 1;
  position: relative;
  /* top: 35%; */
  bottom: 63%;
  writing-mode: vertical-rl;
  transform: rotate(0deg);
}
.timeline button,
.ps button {
  font-weight: bolder;
  background: none;
  border: none;
  cursor: pointer;
  color: #7b8085;
  transition: transform 0.35s ease;
}
.timeline button a,
.ps button a {
  color: inherit;
  text-decoration: none;
}
.timeline button:hover,
.ps button:hover {
  transform: translateX(-5px);
  color: #d9e1e9;
}

.timeline {
  position: absolute;
  /* top: 50%; */
  bottom: 46%;
  right: 0;
  height: 100%;
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transition: .5s ease;
}

.problem-statements {
  padding: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(0deg);
  transition: .5s ease;
}


.social {
  padding-left: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* .social-icons {
  color: #7b8085;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
} */

.social-icons {
  background: none;
  border: none;
  display: inline-block;
  color: #7b8085;
  transition: 0.3s;
  overflow: hidden;
  cursor: pointer;
  height: 60px;
  font-weight: bold;
}
.social-icons:hover {
  color: #d9e1e9;
}

.label-up {
  display: block;
  margin: 0px 0px;
  height: 100%;
  position: relative;
  top: 0%;
  transition: 0.3s;
}
@media screen and (max-width: 350px) {
  .label-up {
    font-size: 10px;
  }
}
.social-icons:hover .label-up {
  top: -100%;
}

.other {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  transition: transform 0.35s ease;
  font-weight: bold;
}

.other:hover {
  font-weight: bold;
  transform: translateY(5px);
  color: #d9e1e9;
}
.sound {
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.sound button {
  background: none;
  border: none;
  cursor: pointer;
}
