*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  position: relative;
}  
.elements{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11111;
}
h1.ps-title{
  font-size: 96px;
  font-family: Kameron;
  font-weight: 700;
  position: fixed;
  left: 100%;
  height: 100vh;
  text-align: center;
  writing-mode: vertical-lr;
  z-index: 2;
}
.center {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stack-area {
  width: 100%;
  height: 300vh;
  position: relative;
}
.right{
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  flex-basis: 50%;
}
.cards {
  width: 100%;
  height: 100%;
  position: relative;
}
.card {
  font-family: Kameron;
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  padding: 35px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s ease-in-out;
}

.card:nth-child(1) {
  z-index: 4;
}
.card:nth-child(2) {  
  z-index: 3;
}
.card:nth-child(3) {
  z-index: 2;
}
.card:nth-child(4) {
  z-index: 1;
}

h2.card-title{
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}
.card .content {
  font-size: 16px;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px;
}
.content p{
  margin: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 2px solid black;
}
.card.active {
  transform-origin: bottom left;
}



.close-div {
  position: sticky;
  bottom: 50px;
  width: 100%;
  z-index: 111111;
  text-align: center;
}
.close {
  color: rgb(151, 151, 151);
  position: fixed;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.35s ease;
  font-weight: bold;
} 
.close:hover {
  font-weight: bold;
  transform: translateY(-5px);
  color: #7b8085;
}


@media (max-width: 924px){
  h1.ps-title{
    height: unset;
    left: unset;
    font-size: 48px;
    writing-mode: horizontal-tb;
    width: 100%;
  }
  .card{
    padding: 20px 0;
  }
  h2.card-title{
    font-size: 32px;
  }
  .card .content {
    overflow-y: scroll;
    grid-template-columns: 100%;
    margin: 0;
  }
  .card .content p{
    margin: 15px;
    padding: 10px;
  }
  .close-div {
    bottom: unset;
    top: 10px;
    right: 10px;
    width: unset;
    font-size: 24px;
  }
  .close>span{
    display: none;
  }
}
