h1.ps-title{
  font-size: 56px;
  /* color: #fff; */
  position: fixed;
  left: 100%;
  height: 100vh;
  text-align: center;
  writing-mode: vertical-lr;
  /* transform: rotate(180deg); */
  z-index: 2;
}
.center {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stack-area {
  width: 100%;
  height: 300vh;
  position: relative;
}
.right{
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  flex-basis: 50%;
}
.cards {
  width: 100%;
  height: 100%;
  position: relative;
}
.card {
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  padding: 35px;
  border-radius: 6mm;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s ease-in-out;
}

.card:nth-child(1) {
  z-index: 4;
}

.card:nth-child(2) {  
  z-index: 3;
}

.card:nth-child(3) {
  z-index: 2;
}

.card:nth-child(4) {
  z-index: 1;
}

.sub {
  font-family: poppins;
  font-size: 20px;
  font-weight: 700;
}
.content {
  font-family: poppins;
  display: flex;
  grid-template-columns: 50% 50%;
}
.content p{
  display: flex;
}
.card.active {
  transform-origin: bottom left;
}



.close-div {
  position: fixed;
  bottom: 50px;
  width: 100%;
  z-index: 111111;
  text-align: center;
  border: 2px solid red;
}
.close {
  color: rgb(151, 151, 151);
  position: fixed;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.35s ease;
  font-weight: bold;
  border: 2px solid red;
} 
.close:hover {
  font-weight: bold;
  transform: translateY(-5px);
  color: #7b8085;
}
