
h1.ps-title{
  font-size: 45px;
  position: fixed;
  right: 0vw;
  left:90vw;
  width: 10vw;
  height: 100vh;
  margin:auto;
  text-align: center;
  writing-mode: vertical-lr;
  font-family: 'Syne', sans-serif;
  text-decoration: underline;
  color:white;
  background-color: #020213;

}

.container{
  margin:0;
  right:0;
  width: 100vw;
  left:90vw;
  background-color:#020213;
  background: url("../About/images/AboutTextBg.png");
  
  height: 100vh;
}

.cards {
  display: flex;
  flex-direction: row-reverse; 
  overflow-x: auto;
  margin:0;
  width:90vw;
  padding-top: 5vh;
  background-color:#020213;
  background: url("../About/images/AboutTextBg.png");
  height: 100vh;

}
.card {
  width: 70vw;
    height: 80vh;
    flex: 0 0 auto; 
    margin-right: 5vw; 

}
.card :nth-child(3){
  margin-left: 5vw;
}


.sub {
  font-family: poppins;
  font-size: 20px;
  font-weight: 700;
}
.content {
  font-family: poppins;
  display: flex;
  grid-template-columns: 50% 50%;
}
.content p{
  display: flex;
}
.card.active {
  transform-origin: bottom left;
}


.close-div {
  position: fixed;
  top: 95vh;
  width: 100%;
  z-index: 111111;
  text-align: center;
}
.close {
  color: rgb(151, 151, 151);
  position: fixed;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.35s ease;
  font-weight: bold;
} 
.close:hover {
  font-weight: bold;
  transform: translateY(-15px);
  color: #7b8085;
}
