*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  background: transparent;
}
h1.ps-title{
  font-size: 56px;
  color: #fff;
  position: absolute;
  left: calc(100% - 150px);
  height: 100%;
  text-align: center;
  writing-mode: vertical-lr;
  z-index: 2;
}

.card-container{
  position: sticky;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;
  /* border: 2px solid red; */
}
.container{
  height: 100%;
  min-width: 100%;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  right: 0;
  /* border: 2px solid red; */
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 25px;
  position: sticky;
  right: 0;

}
.section-title{
  font-size: 36px;
  margin: 25px 50px;
  text-align: center;
  color: #f1f1f1;
}
.section{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
}
.statement{
  margin: 25px 50px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 15px;
}

.close-div {
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 111111;
  text-align: center;
}
.close {
  color: rgb(151, 151, 151);
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.35s ease;
  font-weight: bold;
} 
.close:hover {
  font-weight: bold;
  transform: translateY(-5px);
  color: #7b8085;
}
