::-webkit-scrollbar{
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ps-container{
  background-image:url("../About/images/AboutTextBg.png");
  background-color: #020213;
  height: max-content;
  max-width: 100%;
  background-size: cover; 
}
h1.ps-title{
  font-size: 56px;
  color: #fff;
  position: fixed;
  left: 90%;
  height: 100%;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(0deg);
  z-index: 2;
  font-family: 'Syne', sans-serif;
  text-decoration: underline;
}
.cards {
  max-width: 89%;
  height: 100vh;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 111;
}
.section {
  font-family: Kameron;
  background: #fff;
  min-width: 80vw;
  margin-left: 9vw;
  height: 80%;
  box-sizing: border-box;
  padding: 35px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.5s ease-in-out; 
}

h2.section-title{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.section .content {
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  /* margin: 10px; */
}
.content span{
  margin: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 2px solid black;
}


.close-div {
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 111111;
  text-align: center;
}
.close {
  color: rgb(151, 151, 151);
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.35s ease;
  font-weight: bold;
} 
.close:hover {
  font-weight: bold;
  transform: translateY(-5px);
  color: #7b8085;
}


@media (max-width: 924px){
  h1.ps-title{
    height: unset;
    left: unset;
    font-size: 40px;
    writing-mode: horizontal-tb;
    width: 100%;
  }
  .cards{
    max-width: 100%;
  }
  .section{
    padding: 20px 0;
    min-width: calc(100vw - 60px);
    margin-left: unset;
    margin: 0 20px;
  }
  h2.section-title{
    font-size: 32px;
  }
  .section .content {
    overflow-y: scroll;
    grid-template-columns: 100%;
    margin: 0;
  }
  .section .content p{
    margin: 15px;
    padding: 10px;
  }
  .close-div {
    bottom: unset;
    top: 10px;
    right: 10px;
    width: unset;
    font-size: 24px;
  }
  .close>span{
    display: none;
  }
}