@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');
::selection {
  color: white;
  /* background: #5b6b78; */
}

.about-container {
  /* color: #d9e1e9; */
  /* background-image: radial-gradient(
    circle,
    rgba(8, 8, 8, 1) 39%,
    rgba(20, 22, 27, 1) 100%
  ); */
  background-image:url("./images/AboutTextBg.png");
  background-color: #020213;
  height: max-content;
  width: 100vw;
  background-size: cover;
  font-family: "Karla", "Helvetica Neue", "Helvetica", sans-serif;
  padding: 0;
  margin: 0;
}


  /* Hide scrollbar for Chrome, Safari and Opera */
.About::-webkit-scrollbar {
  display: none;
}

.About{
  color:white;
}
.About h1{
  font-family: 'Syne', sans-serif;
}
.About p{
  font-family: 'Inter', sans-serif;
}

.About .about-agnethon{
  box-shadow: 0 20px 20px 5px #020213 !important;
  z-index:2 !important;
  max-width:100vw;
  padding-top: 10vh !important;
  padding-bottom: 10vh !important;
}

.About .about-agnethon h1{
  padding-top: 2vh;
}


.About .clg-img{
  position:sticky;
  width: 100%;
  height: auto;
  background-color: grey;
  top: 0;
  /* z-index: 1; */

}
.About .clg-img img{
  min-height: 70%;
  min-width: 100%;
}


.About .about-us-text{
  background-image:url("./images/AboutTextBg.png");
  background-color: #020213;
  position: sticky;
  z-index: 1;
  /* height:auto;
  top: 0; */
  width:100vw;
  padding-top:15vh;
  padding-bottom: 20vh;
  box-shadow: 0 -20px 20px 5px #020213;
}



.About .about-us-text h1{
  text-align: center;
  font-stretch: expanded;
  font-size:48px;
  padding-bottom: 5vh;
}

.About .about-us-text p{
  text-align: justify;
  font-size:24px;
  width: 60vw;
  margin: auto;

}

@media (max-width:850px){
  .About .about-us-text p{
    width: 80vw;
  }
  .About .about-us-text{
    padding-bottom: 5vh;
    padding-top:5vh;

  }
}





.About .csi-grid{
  max-width:100%;
  overflow-x: hidden;
  position: sticky;
  z-index: 1;

}

.About .csi-grid h1{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

.About .csi-grid p{
  font-size:17px;
}

@media (max-width:1025px ) {
  .About .csi-grid p{
    font-size:15px;
  }
  .About .about-us-text p{
    font-size:18px;
  }
  .About .about-agnethon p{
    font-size: 18px;
  }
}
/* for about csi comp */
.About .csi-grid .csi-comp-head{
  background-color: #23406B;
  padding: 2vh;
}
.About .csi-grid .csi-comp-text{
  background-color: #23406B;
  top:0;
  position:sticky;
  height: 50vh;
  padding-left: 5vw;
  padding-top: 5vh;
  overflow-y: hidden;
  min-width: 50%;

}
.About .csi-grid .scaling-component .comp-text{
  transform: translateX(-120%) skewX(45deg);
  transition: transform 1s ease-in-out;
  overflow-x: hidden;
  
}
.About .csi-grid .scale-in .comp-text{
  transform:translateX(0) skewX(0deg);
}
.About .csi-grid .csi-comp-pic{
  padding: 0;
  background-color: #23406B;
}
.About .csi-grid .csi-comp-pic img{
  height:50vh;
  width:100%;
  border-top-left-radius: 20px;
}


/* for about csi it */
.About .csi-grid .csi-it-head{
  background-color: #03041F;
  padding: 2vh;
}
.About .csi-grid .csi-it-pic{
  padding: 0;
  background-color: #03041F;
}

.About .csi-grid .csi-it-pic img{
  height:50vh;
  width: 100%;
  border-top-right-radius: 20px;

}
.About .csi-grid .csi-it-text{
  background-color: #03041F;
  height:50vh;
  padding-left: 5vw;
  padding-top:5vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* text-align: justify; */
}

.About .csi-grid .scaling-component .it-text{
  transform: translateX(120%) skewX(-50deg);
  transition: transform 1s ease-in-out;
  overflow-x: hidden;
}
.About .csi-grid .scale-in .it-text{
  transform:translateX(0) skewX(0deg);
}

@media (max-width:575px){
  .About .csi-grid .csi-it-text,
  .About .csi-grid .csi-it-pic img,
  .About .csi-grid .csi-comp-text,
  .About .csi-grid .csi-comp-pic img{
    height: auto;
  }
  .About .csi-grid .csi-it-text{
    padding-top:2vh;
  }
  .About .csi-grid .about-us-text p{
    font-size: 20px;
  }
}
@media (max-width:680px){
  .About .csi-grid p{
    padding-top: 0vh;
    font-size: 13px;
  }
  .About .csi-grid .csi-comp-text{
    padding-top: 0vh;
  }
  .About .csi-grid .csi-it-text{
    padding-top: 2vh;
  }
}
@media screen and (min-width:580px) and (max-width: 1000px) { 
  .About .csi-grid .csi-comp-pic img{
    height: 30vh;
    border-bottom-left-radius: 20px;
    margin-top: 10%;
  }
  .About .csi-grid .csi-comp-pic img{
    max-height: 50vh;
  }
  /* STYLES HERE */
}
/* ScalingComponent.css for csi pictures*/
.About .csi-grid .scaling-component img{
  transform: scale(0) rotate(45deg);
  transition: transform 0.5s ease-in-out;
}
.About .csi-grid .scale-in img{
  transform: scale(1)  rotate(0);

}
.About .how-to-reach{
  max-width:100%;
  overflow-x: hidden;
  position: sticky;
  z-index: 1;
  background:#020213;

}
.About .how-to-reach h1{
  text-align: center;
  padding: 5vh 0 3vh 0;
  /* font-weight: bolder; */
}

.About .how-to-reach .map{
  height:70vh;
  width:100vw;
}



.About .close-div {
  align-items: center;
  text-align: center;
  background-image:url("./images/AboutTextBg.png");
  background-color: #020213;

}
.About .close {

  color: rgb(151, 151, 151);
  margin-top: 30px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
  transition: transform 0.35s ease;
  font-weight: bold;
  font-size: x-large;
}
.About .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 50;
}
.About .close:hover {
  font-weight: bold;
  transform: translateY(-15px);
  color: white;
}
