.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 9999;
}

.loading-screen.hide {
  opacity: 0;
  pointer-events: none;
}

.loading-line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  animation: loadingLine 1.5s linear forwards;
}

@keyframes loadingLine {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
