
.cc1{
  font-family: 'Syne',sans-serif;
  display: flex;
  justify-content: space-around;
  gap:20px;
}

.container{
  flex-direction: column;
}
.social-icons-container{
  flex-direction: column;
  width:50vw;
}
.connect-with-us{
  font-size:2.5vw;
  font-weight:500;
}
@media (max-width:750px) {
.cc1{
  display:block;
}
.social-icons-container{
  margin-top: 10px;
}
.connect-with-us{
  font-size:3.5vw;
}
.social-icons-item span{
  font-size: 3vw;
}
}
.social-icons-item ul {
height:120px;
}
.social-icons-item ul {
  position: relative;
  display: flex;
}
.social-icons-item ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
.social-icons-item ul li a {
  text-decoration: none;
}
.social-icons-item ul li a .fa-brands {
  font-size: 6em;
  color: #222;
}
.social-icons-item ul li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.social-icons-item .sc ul li:nth-child(1) a::before {
  content: "\f16d";
  background-image: linear-gradient(45deg, 
    #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
    #bc1888 100%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  border-bottom: 4px solid #dc2743;
}
.social-icons-item ul li:nth-child(2) a::before {
  content: "\f08c";
  color: #1DA1F2;
  border-bottom: 4px solid #1DA1F2;
}
.discord{
  justify-content: space-evenly;
}
.social-icons-item ul li:nth-child(1) a::before {
  content: "\f392";
  color: #7289DA;
  border-bottom: 4px solid #7289DA;
}
.social-icons-item ul li:hover a::before {
  position: absolute; 
  top:-22px;
  height: 100%;
}
.social-icons-group{
 display:flex;
 text-align: center;
}
.social-icons-item{
flex-direction: row;
}
.social-icons-item span{
  font-size: 2vw;
  /* text-decoration: underline; */
}
@media (max-width:1200px) {
  .social-icons-group{
    display:block;
   }
}