
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Kameron&family=Roboto+Condensed&family=Roboto+Slab:wght@900&family=Skranji:wght@700&family=Sura:wght@700&family=Syne:wght@600&family=Tapestry&display=swap');

body{
    background-image: url('./TimelineBg.png');
}

.s-img{
    width: 65%;
    border-radius: 50%;
}

.award-title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.left-img {
    position: inherit;
    left: 25%;
    z-index: 3;
    width: 50%;
}
.right-img {
    position: absolute;
    z-index: 2;
    right: 50%;
    top: 20px;
    width: 50%;
}
.centre-img {
    position: absolute;
    left: 50%;
    z-index: 1;
    top: 20px;
    width: 50%;
}


.prize{
    background-image: url('./TimelineBg.png');
    padding: 0 5vw;
    position: relative; 
    color: white;
    
}

.prize-card{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.img-container{
    position: relative;
    display: inline-block;
    /* border: #CD7F32 solid 2px; */
   
}

/* .img-container img{
    align-self: center;
    width: 100%;
    align-items: center;    
} */

.text-overlay1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

  .text-overlay2 {
    position: absolute;
    top: 56%;
    left: 18%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

  .text-overlay3 {
    position: absolute;
    top: 58%;
    left: 82%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

.one{
    left: 50%;
    font-family:tapestry ;
    font-weight: 700;
    font-size: 7rem;
}

.two{
    font-family:tapestry ;
    font-weight: 700;
    font-size: 6rem;
}

.three{
    font-family:tapestry ;
    font-weight: 700;
    font-size: 5rem;
}

.prize-txt{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 3%;
    transform: translate(-60%,-10%);
    font-family: syne;
    font-weight: 600;
    font-size: 4rem;
}

.sponsors-container{
    display: flex;
    justify-content: center;
    color: white;
    
}

.sponsors{
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
}

.sponsors-title{
    width: 50vw;
    align-self: center;
    margin-bottom: 5vh;
}

.sponsors-title hr{
    border-radius: 2px;
    border: 2px solid #ffffff;
}

.sponsors-title-txt{
    margin-bottom: 3vh;
    font-family: sura;
    font-weight: 700;
    font-size: 3.5rem;
}

.platinum{
    color: #E5E4E2;
    align-self: center;
    width: 40vw;
    margin-bottom: 5vh;
    font-family: inter;
    font-weight: 700;
    font-size: 2rem;
}

.platinum span{
    color: #ffffff;
}

.pcard{
    margin: 2vh 0;
    padding: 7vh 0;
    justify-content: space-around;
    border: 2px solid #FFFEFC;
    border-radius: 10px;
}
.pcard img{
    padding: 3vh;
    max-width: 90%;
}

.gold{
    color: #FFD700;
    width: 45vw;
    align-self: center;
    margin-bottom: 5vh;
    font-family: inter;
    font-weight: 700;
    font-size: 2rem;
}

.gold span{
    color:#ffffff;
}

.gcard{
    padding: 7vh 0;
    display: flex;
    justify-content: space-around;
    border: 2px solid #FFD700;
    margin: 2vh 0;
    border-radius: 10px;
    flex-wrap: nowrap;
}

.gcard img{
    max-width: 75%;
    padding: 3vh;
}

.silver{
    color: #C0C0C0;
    width: 60vw;
    align-self: center;
    margin-bottom: 5vh;
    font-family: inter;
    font-weight: 700;
    font-size: 2rem;
}

.silver span{
    color: #ffffff;
}

.scard{
    padding: 7vh 0;
    display: flex;
    justify-content: space-around;
    border: 2px solid #C0C0C0;
    margin: 2vh 0;
    flex-wrap: nowrap;
    border-radius: 10px;
}

.scard img{
    max-width: 65%;
    padding: 3vh;
}

.bronze{
    color: #CD7F32;
    width: 80vw;
    align-self: center;
    margin-bottom: 5vh;
    font-family: inter;
    font-weight: 700;
    font-size: 2rem;
}

.bronze span{
    color: #ffffff;
}

.bcard{
    padding: 7vh 0;
    display: flex;
    justify-content: space-around;
    border: 2px solid #CD7F32;
    margin: 2vh 0;
    flex-wrap: nowrap;
    border-radius: 10px;
}

.bcard img{
    max-width: 55%;
    padding: 3vh;
}

.contact{
    display: flex;
    justify-content: space-around;
}

.close-btn{
    width: 100%;
    margin-top: 3%;
    line-height: 30px;
    color: #ffffff;
    background-color: #03041f;
/*     border: 2px solid #C0C0C0; */
    border-bottom: 0;
}
.accordion{
    background-color: #03041f;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
}
.accordion-item{
    background-color: #03041f;
    color: #ffffff;
    
}

.accordion-item button{
    background-color: #03041f;
    color: #ffffff;
}


@media (max-width: 580px){
    .prize-txt{
    z-index: 1;
    left: 36%;
    top: 0%;
    transform: translate(0%,0%);
    font-family: syne;
    font-weight: 600;
    font-size: 2rem;
    }
    .gcard{
        flex-wrap: wrap;
    }
    .bcard{
      flex-wrap: wrap;
    }
    .scard{
        flex-wrap: wrap;
      }
      .sponsors-title-txt{
        font-size: 2.5rem;
      }
}
